{% assign cats = site.pages | group_by: 'dir' | sort: 'name' %}

{% for cat in cats %}
    {% unless cat.name contains '/assets/' %}
        {% assign name = cat.name | replace:'/',' ' | strip | split:"__" | last %}
        {% if name != '' %}
            <h2>{{name | replace:'ae','æ' | replace:'_',' ' | capitalize }}</h2>
        {% endif %}
        <ul>
            {% assign items = cat.items | sort: 'order', 'last' %}
            {% for node in items | sort: 'order' %}
                {% unless node.hide %}
                    {% if page.url == node.url %}
                        <li class="aktiv"><a href='{{site.baseurl}}{{node.url}}'>{{node.title}}</a></li>
                    {% else %}
                        <li><a href='{{site.baseurl}}{{node.url}}'>{{node.title}}</a></li>
                    {% endif %}
                {% endunless %}
            {% endfor %}
        </ul>
    {% endunless %}
{% endfor %}