{% assign cats = site.pages | group_by: 'category' | sort: 'name' %}

{% for cat in cats %}
    {% unless cat.name contains '/assets/' %}
        {% assign name = cat.name | replace:'/',' ' | strip | split:"#" | last %}
        {% if name != '' %}
            <h2>{{name | capitalize }}</h2>
        {% endif %}
        <ul>
            {% assign items = cat.items | sort: 'order', 'last' %}
            {% for item in items | sort: 'order' %}
                {% unless item.hide %}
                    {% if page.url == item.url %}
                        <li class="aktiv"><a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a></li>
                    {% else %}
                        <li><a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a></li>
                    {% endif %}
                {% endunless %}
            {% endfor %}
        </ul>
    {% endunless %}
{% endfor %}