<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nasjonal vegdatabank API (NVDB API)</title>

    <link rel="stylesheet" href="{{site.baseurl}}/assets/style.css" type="text/css">
  </head>
  <body>
    <div class="header">
      <h1>API-dokumentasjon</h1>
    </div>

    <div class="container">

      <nav>
        {% include navigation.html %}
      </nav>

      <main class="content" autoscroll="true">
        {{content}}
      </main>
    </div> 
  </body>
</html>
